.App {
    background-image: url('./HomePageBack.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

  .App-header {

    text-align: center;
  }

  .App-header h1 {
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    /* font-family: 'Homemade Apple', cursive; */
    font-weight: 700; 
  }

  .button-group {
    display: flex;
    justify-content: center;
    gap: 3rem; /* Adjust the gap as needed */
  }
  .page1 {
    background-image: url('reservation.png'); /* Add your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
  }
  
  .page1-background {
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent overlay */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .page1 h1 {
    margin: 0;
    font-size: 2rem;
    padding: 10px 0;
  }
  
  .page1 .row {
    margin: 20px 0;
  }
  
  .page1 .row img {
    width: 100px; 
    height: 100px;
  }

  
  
  
  
  
  